# Environment & Secrets
.env
firebase-service-account.json

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
